
<div class="inner-main project">
    <h1 class="title">{{project.title}}</h1>
    <img src="/{{project.directory}}/screenshot.png" alt="{{project.directory}}">
    <a class="link" href="../{{project.directory}}">Launch</a>
    <span>&nbsp;</span>
    <p class="description">{{project.description}}</p>
</div>
